@tailwind base;
@tailwind components;
@tailwind utilities;
.lefttoryt{
    display: flex; 
    padding-top: 0.25rem; 
    justify-content: center; 
    border: 0.5px;
    border-radius: 0.5rem; 
    border-color: #000000; 
    height: 2rem; 
    width: 170px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    cursor: pointer; 
    
  }
  .lefttoryt:hover{
    scale:105px;
  }