.hg .letter{
    display: inline-block;
    transition: transform 300ms ease ;
}
.hg:hover>.letter2:nth-child(1){
  /* z-index: e; */
  transform: translate(-50%,30%) rotate(8deg);
  
}
.hg:hover>.letter2:nth-child(2){
  transform: translate(-50%,-30%) rotate(-8deg);
  
}
.hg:hover>.letter2:nth-child(3){
  transform: translate(-40%,40%) rotate(-10deg);
  
}
.hg:hover>.letter2:nth-child(4){
  transform: translate(-30%,-60%) rotate(4deg);
  
}
.hg:hover>.letter2:nth-child(5){
  transform: translate(-10%,30%) rotate(15deg);
  
}
.hg:hover>.letter2:nth-child(6){
  transform: translate(-20%,-20%) rotate(-25deg);
  
}
.hg:hover>.letter2:nth-child(7){
  transform: translate(40%,30%) rotate(1deg);
  
}
.hg:hover>.letter2:nth-child(8){
  transform: translate(-10%,-40%) rotate(15deg);
  
}
.hg:hover>.letter2:nth-child(9){
  transform: translate(-80%,-60%) rotate(-8deg);
  
}
.hg:hover>.letter2:nth-child(10){
  transform: translate(-40%,60%) rotate(-5deg);
  
}
.hg:hover>.letter2:nth-child(11){
  transform: translate(-80%,-60%) rotate(-3deg);
  
}